.header{
  background-color: #00a1a1;
  height: max-content;
  color: aliceblue;
  font-size: 20;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  padding: 20px 25px 20px 25px;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;

}
.tel{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 50px;
  gap: 5px;
}
img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #002525;
  display: block;
  object-fit: cover;
  object-position: center;
}
