.layout{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  height: 100vh;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
footer {
  width: 100%;
}
