*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 16px;
}

input,
button,
textarea,
select {
    font: inherit;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
